.regi_head {
    width:1200;
    height:150;
    margin:auto;
    border-bottom:1px inset rgba(0, 0, 0, 0.5);
}
.regi_head_font {
    font-size:4em;
    line-height:3em;
    position: relative;
    left:200;
    color:purple;
}
.regi_proc_font_group {
    display: inline-block;
    position: relative;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.regi_proc {
    height:70;
    width:1200;
    margin:auto;
    border-bottom:1px inset rgba(0, 0, 0, 0.5);
}
.regi_proc_font {
    color:plum;
    font-size:2em;
    display:inline-block;
}
.regi_main {
    height:1000;
    width:1200;
    margin:auto;
    padding-top:100;
}
.regi_main_if_group {
    display:inline-block;
    margin:auto;
    position: relative;
    left:50%;
    transform:translate(-50%,0);
}
.regi_main_if {
    margin:0;
    overflow-x:hidden;
}
.regi_main_under {
    width:800;
    margin:auto;
    margin-top:10;
    padding-top:10;
    text-align:right;
    border-top:1px inset rgba(0, 0, 0, 0.5);
}
.regi_main_under_font {
    font-size:1.5em;
    font-weight:bold;
}
.regi_next {
    width:140;
    height:50;
    font-size:1.5em;
    background:pink
}
.under_menu {
    border-top:1px inset rgba(0, 0, 0, 0.5);
}